# Requirements for devs

# Experiment
ipykernel==6.27.1
# Debug
debugpy==1.8.0
# Format
ruff==0.1.5
sourcery-cli==1.14.0
# Profiling
snakeviz==2.2.0
# Pre-commit
pre-commit==3.5.0

-r requirements_both.txt
